{{> header}}
<p style="margin: 0 0 16px; color: #172b4d; font-size: 15px; line-height: 1.5;">
  Bạn vừa được giao thẻ:
</p>
<p style="margin: 0 0 24px; color: #172b4d; font-size: 18px; font-weight: bold;">
  {{cardTitle}}
</p>
<p style="margin: 0; color: #5e6c84; font-size: 13px; line-height: 1.5;">
  Mở Kanvas để xem chi tiết công việc của bạn.
</p>
{{> footer}}
